.navbar {
    position: sticky;
    top: 0;
    left: 0;
  }

  .nav-links {
    display: flex;
    align-items: center;
  }

  .nav-icon {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--color-background);
  }
  
  
  
  @media only screen and (max-width: 768px) {
    .navbar .main {
      flex-wrap: wrap;
    }
  }
  